body {
	background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 0;
}
form {
	margin: auto;
	background: #C9D6FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 10px 20px;
	width: 400px;
	box-sizing: border-box;
	border-radius: 10px;
	margin-top: 40px;
	text-align: center;
}

h2 {
	color: #black;
	text-align: center;
	margin: 0;
	font-size: 40px;
	margin-bottom: 30px;
}

input {

	width: 100%
	margin: 0;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 20px;
}


#boton {
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%
	margin: auto;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

#boton:hover {
	cursor: pointer;
}

@media (max-width: 480px) {
	form{
		width: 100%
	}
}